<%= form_tag({action: "search"}, {method: "get"}) do%>
  <input type="search" name="condition[search]" id="search-basic" value="<%=@condition[:search] %>" />
<% end %>
<% if @youtubes || @googles%>
  <div data-role="navbar" class="navi" data-iconpos="left">
    <ul> 
      <li>
      <%= link_to parts_search_path(condition_params(:google)), class: target_class(:google), "data-icon" => "star" do %>
        Google
      <% end %>
      </li> 
      <li>
      <%= link_to parts_search_path(condition_params(:youtube)), class: target_class(:youtube), "data-icon" => "grid" do %>
        Youtube
      <% end %>
      </li> 
    </ul> 
  </div><!-- /navbar --> 

  <ul id="Gallery" class="thumbnail">
    <% @googles.each do |google| %>
      <li>
      <%= link_to parts_dialog_path(google_params(google)), "data-rel" => "dialog" do %>
        <img src="<%= google[:tb_url] %>" alt="Image 01" />
      <% end %>
      </li>
    <% end %>

    <% @youtubes.each do |youtube| %>
      <li>
      <%= link_to parts_dialog_path(youtube_params(youtube)), "data-rel" => "dialog" do %>
     <img src="http://i2.ytimg.com/vi/<%= youtube["video_id"] %>/default.jpg" />
    <% end %>
    <!--iframe class="youtube-player" type="text/html" width="100" height="100" 
    src="http://www.youtube.com/embed/<%= youtube["video_id"] %>" frameborder="0">
    </iframe-->


      <!--a href="http://www.youtube.com/watch?v=<%= youtube[:video_id] %>"><img src="http://i2.ytimg.com/vi/<%= youtube[:video_id] %>/default.jpg" alt="Image 01" /></a-->

      </li>
    <% end %>
  </ul>
<% end %>
