<%= form_for(@board) do |f| %>
  <% if @board.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@board.errors.count, "error") %> prohibited this board from being saved:</h2>

      <ul>
      <% @board.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="bg">
    <div id="title"><img src="http://tnmt.heteml.jp/shushutest/board/board1/images/title.png" alt="" /></div>
    <% @board.board_items.each_with_index do |item, index| %>
      <div id="img_<%= index + 1 %>">
        <% if item.image.blank? %>
          <a href="/boards/search_item?frame=<%= index + 1 %>"><img src="/assets/upload.png" width="280" height="280" />
          </a>
        <% else %>
          <% if item.url.include? 'youtube' %>
            <iframe class="youtube-player" type="text/html" width="280" height="280"
              src="<%= item.url %>" frameborder="0">
            </iframe>
          <% else %>
            <a href="<%= item.url %>">
              <img src="<%= item.image %>" width="280" height="280" alt="りっちゃん" />
            </a>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>

  <%= f.hidden_field :template_id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
